
        <div class="example-form">
     <span>Kenyan shillings: <input class="userinput" type="number" class="userinput"  [(ngModel)]="money.amount"  >    </span>  
            <p>{{money.amount * 0.009}} dollars</p>
</div>

 <!-- <select class="foodselection">
     <option>choose a currency</option>
                <option *ngFor="let food of foods" [value]="food.value">
                  {{food.value}}
                </option>
              </select>    
            </div>
            <div class="output">
              <p>{{money}}</p>  
              <select class="foodselection">
                <option>choose a currency</option>
                           <option *ngFor="let food of foods" [value]="food.value">
                             {{food.value}}
                           </option>
                        </select> 
            </div>           
            <button type="submit" (click)="onInputChange(userform.value)">Calculate</button> -->
  