<div class="example-form p-2 justify-evenly">
  <div class="instructions">
    <h3 class="text-center italic font-serif border-b-[1px]">
      Currency Converter
    </h3>
    <p class="text-yellow-500 font-light italic">
      Enter kenyan shilling at 0, select a currency at the down arrow an the
      amount will be displayed.
    </p>
  </div>

  <span
    >Kenyan shillings:
    <input class="userinput" type="number" class="userinput" />
  </span>
  <div class="output">
    <p>{{ money.amount * constant }}</p>

    <select
      class="foodselection"
      (change)="onChange(selectedCurrency)"
      [(ngModel)]="selectedCurrency"
    >
      <option value="">Select currency</option>
      <option *ngFor="let food of foods" [value]="food.value">
        {{ food.value }}
      </option>
    </select>
  </div>
  <p>
    You selected <b>{{ selectedCurrency }}</b>
  </p>
</div>
